{% extends 'base.html' %}
{% block content %}
<main>

<h1>Sobre mi</h1>
    <h3>

¡Hola! Soy Pawel, tengo 36 años y soy chef especializado en pastelería. Desde que tengo memoria, mi pasión ha sido el arte de crear dulces que no solo se ven bien, sino que despiertan emociones desde el primer bocado.

Cada pastel que preparo es una combinación de técnica, creatividad y mucho cariño. Me inspiro tanto en la pastelería clásica como en las tendencias modernas, siempre buscando ese equilibrio perfecto entre sabor, textura y presentación.

En esta página te presento una selección de mis pasteles, elaborados con ingredientes de calidad y pensados para hacer de cada ocasión algo especial. Ya sea un pastel elegante para una celebración o un postre delicado para disfrutar en casa, mi objetivo es siempre el mismo: ofrecerte una experiencia dulce e inolvidable.

Gracias por estar aquí y dejarme compartir contigo lo que más amo hacer.
    </h3>
</main>
{% endblock %}
